<div class="page-header">
    <div>
        <h1 class="page-title">Crear un prestamo</h1>
    </div>
</div>

<div class="border p-1 prestamos">
    <div class="border gap-2 fila1 fila">

        <div class="tabla-componente">
            <div class="border tabla-header">
                <div class="tabla-header-item">
                    <div class="tabla-header-item-title">Prestamos</div>
                </div>
            </div>
            <div class="tabla-body">
                <div class="tabla-body-item">
                    <div class="tabla-body-item-title">

                        <div class="tbi-head">
                            <div class="tbi-title">
                                Modelo
                            </div>
                            <div class="tbi-subtitle">
                                Codigo inv
                            </div>
                        </div>



                    </div>
                </div>
                <div class="tabla-body-item">
                    <div class="tabla-body-item-title">

                        BRO

                    </div>
                </div>
                <div class="tabla-body-item">
                    <div class="tabla-body-item-title">

                        BRO

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="border gap-2  fila2 fila">
        <button class="btn-primary-action boton-circulo">+</button>

    </div>
</div>