<div>
    <h1>MODELS</h1>
    <p>Crea un modelo aqui</p>
    <button class="btn-primary-action" id="btnNuevoModelo">
        <i class="bi bi-plus-lg"></i>
    </button>
</div>

<div class="modal-overlay" id="modalModelsOverlay">
    <form>
        <input type="hidden" id="modelId"/>
        <input type="text" name="" id="modelname">
        <input type="text" name="" id="modelkind">
        <input type="text" name="" id="modelbrandnid">
    </form>
    <button id="btnmodel_save">Guardar</button>
    <button id="btnmodel_close">Cancelar</button>
</div>